<!DOCTYPE html>
<html>
  {{#if rows}}
    {{#each rows}}
    <div class="embed-responsive embed-responsive-16by9">
    <iframe id = "player" class="embed-responsive-item" src="{{videourl}}"></iframe>
    </div>
    {{/each}}
    {{else}}
      No videos here. Go upload some!

  {{/if}}

</html>
