<h1>Connections</h1>
<p> Welcome to a world that connects you to other people.</p>
<div class="row">
      <a href="/login">Log in</a><br>
      <a href="/signup">Sign up</a><br>
      <a href="/logout">Log out</a><br>
      <a href="/profile">User profile</a>
  </div><div class="row">
        {{#if user.username}}
        <p>You are logged in as {{user.username}}.</p>
        {{else}}
        <p></p>
        {{/if}}</div>
</div>
