<!DOCTYPE html>

<!--<div id="index">
<a href="/login">Log in</a><br>
<a href="/signup">Sign up</a><br>
<a href="/logout">Log out</a><br>
<a href="/profile">User profile</a>
{{#if user.username}}
<p>You are logged in as {{user.username}}.</p>
{{else}}
<p></p>
{{/if}}
</div>-->

<br>
    <div class="row">
    <img id="img_main" src="/img/link.png">
    <p> Welcome to a world that connects you to other people.</p>
    <hr class="divider"/>
    </div>
    <div class="row">
      {{#if user.username}}
      <p>You are logged in as {{user.username}}.</p></div>
      {{else}}
      <p></p>
      {{/if}}
