<h1>Welcome to the Hiragana Test!</h1>
<p> Please log in to access game modes! </p>

<div id="index">
<a href="/login">Log in</a><br>
<a href="/signup">Sign up</a><br>
<a href="/logout">Log out</a><br>
<a href="/profile">User profile</a>
{{#if user.username}}
<p>You are logged in as {{user.username}}.</p>
{{else}}
<p></p>
{{/if}}
</div>
