<br>
<div class="container">
  <div class="col-sm-6 center transparent">
    <div class="row">
    <h1>connections</h1>
    <p> Welcome to a world that connects you to other people.</p>
    <hr class="divider"/>
    </div>
    <div id="index">
    <div class="row">
      {{#if user.username}}
      <p>You are logged in as {{user.username}}.</p></div>
      {{else}}
      <p></p>
      {{/if}}
  </div></div></div>
