<h1>Welcome to the Hiragana Test!</h1>
<p> Please log in to access game modes! </p>

<style>
  body {
  background-image: url("../public/images/background.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  }
  </style>

<div id="index">
<form method="post" action="login">
<input type="text" name="username" placeholder="User name"><br>
<input type="password" name="password" placeholder="Password"><br>
<input type="submit" value="Log in">
</form>
{{#if success}}
<p>Successfully created an account. Please log in</p>
{{/if}}

{{#if error}}
<p>{{error}}</p>
{{/if}}

<!--<a href="signup">Sign up</a>-->
</div>
