
<!DOCTYPE html>

<body>
<div class="container">
    <div class="col-sm-6 center transparent">
      <div class="row">

        <img id="img_main" src="/img/link.png">
    <p> Welcome to a world that connects you to other people.</p>
    <hr class="divider"/>
  </div>
<div class="index">
  <div class="row">

    <form class="form-signin" method="post" action="login">
      <h2 class="form-signin-heading">Please sign in</h2>

      <!--<label class="form-check-label" for="content">
        <input class="form-check-input" type="radio" name="radio" id="content" value="content">
        Content Provider
      </label><br>

      <label class="form-check-label" for="ad">
        <input class="form-check-input" type="radio" name="radio" id="ad" value="ad">
        Ad Provider
      </label>-->

      <label for="username" class="sr-only">Username</label>
      <input type="text" name="username" class="form-control" placeholder="User Name" required autofocus><br>
      <label for="password" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required><br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

    </form>
{{#if success}}
<p>Successfully created an account. Please log in</p>
{{/if}}

{{#if error}}
<p>{{error}}</p>
{{/if}}

<!--<a href="signup">Sign up</a>-->
</div>
</div>
</div>
</div>
</body>
