<!DOCTYPE html>
<h1>Connections</h1>
<p> This is some subtext </p>


<div id="index">
<form method="post" action="login">
  <input id="content" type="radio" name="radio" value="content">
  <label for="content">Content Provider</label> <br>
  <input id="ad" type="radio" name="radio" value="ad">
  <label for="content">Ad Provider</label> <br>
<input type="text" name="username" placeholder="User name"><br>
<input type="password" name="password" placeholder="Password"><br>
<input type="submit" value="Log in">
</form>
{{#if success}}
<p>Successfully created an account. Please log in</p>
{{/if}}

{{#if error}}
<p>{{error}}</p>
{{/if}}

<!--<a href="signup">Sign up</a>-->
</div>
