
<!DOCTYPE html>
<p>Welcome to your profile, <b>{{user.username}}</b>!</p>
	<br>

<a href="/">Back to User menu</a><br>
=======
<div class="col-sm-6 center transparent">
<p>Welcome to your profile, <b>{{user.username}}</b>!</p>
	<br>
<a class="btn btn-lg btn-primary btn-block" href="/" role="button">Go Back</a><br>
</div>
