<p>Welcome to your profile, <b>{{user.username}}</b>!<p>
	<br>

<a href="/">Back to User menu</a><br>
<a href="/quiz">Start a quiz!</a>

<p id="noCenter"> Your results:</p>
{{#if rows}}
<table>
{{#each rows}}
	<tr>
		{{#each this}}
			<td> {{ this }} </td>
		{{/each}}
	</tr>
{{/each}}
</table>
{{else}}
	<h3 style="color:red;" text-align="center;">No quizzes taken yet</h3>
{{/if}}
