<!DOCTYPE html>

<p>Welcome to your userpage, <b>{{user.username}}</b>!</p>
<br><br>
<a class="btn btn-lg btn-primary btn-block" href="/catalog" role="button">View Catalog</a><br>
<a class="btn btn-lg btn-primary btn-block" href="/logout" role="button">log out</a><br>
<br>
