<h1>Welcome to the Hiragana Test!</h1>
<p> Please log in to access game modes! </p>

<div>
<form method="post" action="signup">
<input type="text" name="username" placeholder="User name"><br>
<input type="password" name="password" placeholder="Password"><br>
<input type="submit" value="Sign Up">
</form>
{{#if error}}
<p>Username already exisit</p>
{{/if}}
</div>
