<!DOCTYPE html>
<h1>Connections</h1>
<p> This is some subtext</p>

<div id="index">
<form method="post" action="signup">
  <input id="content" type="radio" name="radio" value="content">
  <label for="content">Content Provider</label> <br>
  <input id="ad" type="radio" name="radio" value="ad">
  <label for="content">Ad Provider</label> <br>
  <input id="user" type="radio" name="radio" value="user">
  <label for="content">User</label> <br>
<input type="text" name="username" placeholder="User name"><br>
<input type="password" name="password" placeholder="Password"><br>
<input type="submit" value="Sign Up">
</form>
{{#if error}}
<p>Username already exists</p>
{{/if}}
</div>
