<!DOCTYPE html>

<div class="col-sm-6 center transparent">
<p><h2><b>Upload videos here</b></h2></p>

<form class="form-upload" method="post" action="upload">

	<label for="videoTitle">Video Title</label>
	<input class="form-control" type="text" name="videoTitle" placeholder="Video Title">

	<br>

	<!--Get author on submission-->

	<label for="videoURL">Video URL (YouTube)</label>
	<input class="form-control" type="text" name="videoURL" placeholder="Video URL">

	<br>

	<!--3 tags per video at most
	can look into dynamic tagging if
	time permits
	-->
	<label for="tags">Tags</label>
	<input class="form-control" type="text" name="tag1"> <br>
	<input class="form-control" type="text" name="tag2"> <br>
	<input class="form-control" type="text" name="tag3"> <br>

	<!--Get upload date on submission-->

	<button class="btn btn-lg btn-primary btn-block" type="submit">Upload Video</button>
</form>
</div>
