<!DOCTYPE html>
  <title> Upload Video </title>
    {{#if success}}
      <p> You have uploaded the video: <h1>{{title}}</h1></p>
    {{/if}}
    <div class="embed-responsive embed-responsive-16by9">
    <iframe id = "player" class="embed-responsive-item" src="{{videourl}}"></iframe>
    </div>
