@import url('fonts/stylesheet.css');

h1 {
  font-size: 72px;
  font-family: "code_pro_demoregular", Arial, sans-serif;
  color: white;
  text-align: center;
}

div {
  text-align: center;
}

p {
  text-align: center;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

#noCenter {
  text-align: left;
}

#quizArea {
  background-color: white;
}

#index {
  text-align: center;
  padding-top: 35px;
}

a {
  color: #00B7FF;
}
