@import url('fonts/stylesheet.css');

h1 {
  font-size: 24px;
  font-family: "code_pro_demoregular", Arial, sans-serif;
  color: white;
  text-align: center;
}


#img_main {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width:128px;
    height:128px;
}

.divider {
    width: %100;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);

}

.transparent{

  background: rgba(140,121,121, .4);
    background-image: url("/img/diamond-upholstery.png");
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0px 0px 80px 1px rgba(0, 0, 0, 0.4);
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

p {
  text-align: center;
}

body {
  padding-top: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("banner.jpg");
  color: white;
  background-size:cover;
}

#noCenter {
  text-align: left;
}

#quizArea {
  background-color: white;
}

.index {
  margin-left: 30px;
  margin-right: 30px;

}
/* all this garbage is for the input textbox outline...it was ugly but this code is too lol */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #9c9c9c;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
  outline: 0 none;
}

.btn{
  background-color: #5b3131;
  border: 1px solid #3f1f1f;
  box-shadow: 0 0 10px 2px rgba(42, 22, 22, 0.25) inset;
}

.btn:hover, .btn:active, .btn:visited, .btn:focus .btn:active:focus{
  background-color: #512c2c !important;
  border: 1px solid #3f1f1f !important;
  box-shadow: 0 0 10px 2px rgba(42, 22, 22, 0.25) inset !important;
}

a {
  color: #5b3131;

}

a:hover{
  color: #512c2c;
}
