@import url('fonts/stylesheet.css');

h1 {
  font-size: 52px;
  font-family: "code_pro_demoregular", Arial, sans-serif;
  color: white;
  text-align: center;
}

.divider {
    width: %100;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.transparent{
    background: rgba(255,255,255, 0.4);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 0px 70px 1px rgba(0, 0, 0, 0.2);

}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

p {
  text-align: center;
}

body {
  padding-top: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(67, 73, 81);
}

#noCenter {
  text-align: left;
}

#quizArea {
  background-color: rgb(116, 120, 127);
}

#index {
  margin-left: 30px;
  margin-right: 30px;
}

a {
  color: #00B7FF;
}
